body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #fafafa;
  color: #333;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.chart-container {
    position: relative;
    width: 70%; /* Makes the container take up the full width of its parent */
    height: 60vh;
    margin-bottom: 70px;
}

